body {
  font-family: 'Nanum Myeongjo', serif;


}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #9b95a2;
  color: black;
}

.navbar-toggle button {
  color: white;
}

.jumbotron {
  background-image: url(../images/banner.jpg);
}


button {
  padding: 0px;
}

